*{
    margin:0;
}
#main{
    min-
    width: 100vw;
    min-height: 100vh;
    background-color: #F3F5F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
}
#header{
    display: flex;
    justify-content: center;
    color:  #212124;
    padding:20px;
    padding-top: 50px;
}
.formDiv{
    margin:30px 5px;
    display: block;
}
input{
    margin: 10px 0;
}
.imageBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.imageDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    overflow: hidden;
    background-color:white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.resultImages{
    max-height: 100%;
    padding: 10px;
}
.resultText{
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 220px;
}
.button{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 40px;
    text-shadow: none;
    margin: 5px;
    padding: 6px 12px;
    border-radius: 15px;
    color: #012563;
}
.button:hover{
    transform:translateY(1px);
}
#moreButton{
    justify-self: center;
    margin:30px;
}
*{
    font-family:'Work Sans', sans-serif;
}
li{
    list-style-type: none;
}
a{
    color:black;
    text-decoration: none;
}
#footer {
    font-size: 0.9em;
    width: 98%;
    height: 70px;
    /* position: absolute; */
    /* bottom:0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLink{
    /* color:whitesmoke; */
    text-decoration: none;
}
